
body {
	margin: 0;
	padding: 0;
	text-align: left;
	font: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	background: #1364A6;
	background-image:url(images/background.jpg);
	background-repeat:repeat-x;
}
*
{
  margin: 0 auto 0 auto;
 text-align:left;}

#container[disabled]
{
  display: block; 
  height:auto;
  position: relative; 
  width: 750px;
  background-image:url(images/background.jpg);
  background-repeat:repeat-y;
  padding-left:17px;
  padding-right:17px;
  overflow:hidden;
}

#links
{
display:block;
float:right;	
margin-top:25px;
margin-right:10px;

}

#links a, #links a:visited
{
font-size:16px;
font-weight:bold;
margin-left:4px;
margin-right:4px;
color: #1652B4;
text-decoration:none;
}

#links a:hover
{
border-bottom:dotted 1px #1652B4;
}
.creator
{
	background-color: darkblue;
	position: fixed;
	top: 100px;
	color: white;
	left: 577px;
	z-index: 1;
}

#header
{
height:60px;
position: sticky;
top: 0;
z-index:1;
width: 750px;
background-color: white;
}

#header h1
{
margin-top:15px;
margin-left:10px;
font-size:33px;
color:#0A2645;
float:left;
}

.off
{
color:#1652B4;
}

.picture
{
	background-image:url(images/imagebackground.jpg);
	width: 750px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-repeat:repeat-x;
	background-position:bottom;
	padding-bottom:8px;
	margin-top:22px;
}
#layer
{
	background-color: white;
	width: 750px;
}
.picture1
{
	background-attachment: fixed;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50px;
	background-color: white;
}
.picture2
{
	background-attachment: fixed;
	display: block;
	margin-left: auto;
	margin-right: auto;
	clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
	z-index: 1;
}
.picture3
{
	background-attachment: fixed;
	display: block;
	margin-left: auto;
	margin-right: auto;
	clip-path: circle(50px at 50% 50%);
	z-index: 1;
}
.picture4
{
	background-attachment: fixed;
	display: block;
	margin-left: auto;
	margin-right: auto;
	clip-path: ellipse(25% 40% at 50% 50%);
	z-index: 1;
}

.contenttext h2
{
color:#123F83;
font-size:24px;
margin-bottom:10px;
	
}

.contenttext
{
	padding-left:10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-right:10px;
	width: 750px;
}


#footer
{
font-size:12px;
color:#519FEE;
margin-top:18px;
width:750px;
text-align:center;
}
#footer a, #footer a:visited
{
	text-align:center;
color:#ADCCF1;
	text-decoration:none;
}

html, body {
text-align: center;
}

p {text-align: left;}